{% extends 'template.html' %}
{% load static %}
{% block title %}<title>Articulos</title>{% endblock %}
{% block content %}
<div class="parallax-background">
    <img class="parallax-background-image" src="{% static 'img/template/bl.jpg'%}">
</div>

<div class= "container">     
        <div class="row">
            <div class="col-md-5 hidden-xs" >
                
            </div>
            <div class="col-md-4 col-md-offset-1">
                <div class="description" style="align-content:right;">
                    <h2><img class="parallax-background-image" src="{% static 'img/logos/logo_lix_bot_lt.png'%}"></h2>
                    <h4  style="position:absolute; color:#00BFFF;">ARTICULOS</h4>
                </div>

            </div>
        </div>
        
    </div>
</div>
<div>
    {% if lista_articulos %}

    {% for articulo in lista_articulos %}
    <div class="section section-features">
        <div class="container">
            <h4 class="header-text text-center">{{articulo.nombre}}</h4>
            <div class="row">
                <div class="col-md-8" style="display: inline-block;">
                    <img src="/media/{{articulo.urlFoto}} " alt="" width="500" height="300">
                </div>
                <div class="col-md-4">
                    <p>
                        {{articulo.descripcion}}
                     </p>
                    <p>
                       Tipo Producto: {{articulo.tipo}}
                    </p>
                    <p>
                       Precio: {{articulo.costo}}
                    </p>
                    {% if articulo.descuento %}
                    <h6>PRODUCTO EN DESCUENTO</h6>
                    <p>
                        
                        Descuento: {{articulo.procentaje_descuento}}%
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}